body {
  text-align: center;
  background: #639E8A;
  font-family: "Roboto", monospace;
}

h1 {
  margin: 0 auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 48px;
  margin: 2%;
    text-decoration-color: orange;
}

h2 {
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: lighter;
  margin: 2%;
    text-decoration-color: orange;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid rgba(0, 0, 0, 0.75);
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
}

.square:hover {
  background-image: url("https://vignette.wikia.nocookie.net/2007scape/images/f/fd/Giant_Mole.png/revision/latest?cb=20160715144326");
  background-color: yellow;
   background-size: cover;
  cursor: pointer;
}

#reset-button {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.text-and-buttons {
  float: left;
  width: 15%
}

#container-wrap {
  margin-left: 15%;
}
